<div class="container py-4">
    <h2 class="mb-3">Liste des événements</h2>

    <!-- Recherche -->
    <input type="text" class="form-control mb-4"
           placeholder="Rechercher un événement"
           [(ngModel)]="searcheItem">

    <div class="row g-3">
        <!-- Boucle sur les événements -->
        <div class="col-md-4" *ngFor="let event of filter()">
            <app-card [item]="event" (notifBuyParent)="buy(event)" 
            (notifLikeParent)="incLikes(event)"></app-card>

        </div>
    </div>

